

body {
    background-color: blue;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Header and scoring */
header {
    width: 75%;
    text-align: center;
    margin: auto;
    background-color: #6daa30;
}

.score-box {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}



.container {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 5px inset blue;
    background-color: aqua;
    width: 25%;
    position: absolute;
    bottom: 40%;
    left: 40%;
    padding: 3em 0;
}

.btn {
    width: 60%;
    justify-content: center;
    margin: 5%;
    background-color: green;
    border: 1px solid black;
    box-shadow: 3px solid grey;
    border-radius: 30px;

}

.frog {

}

.frog:hover img {
    outline: 2px solid white;
}

#frog0 {
    width: 6vw;
    height: 6vw;
    position: absolute;
    bottom: 6%;
    left: 16.5%;
}

#frog1 {
    width: 7vw;
    height: 7vw;
    position: absolute;
    bottom: 25%;
    left: 39%;
}

#frog2 {
    width: 7vw;
    height: 7vw;
    position: absolute;
    bottom: 50%;
    left: 53%;
}

#frog3 {
    width: 6vw;
    height: 6vw;
    position: absolute;
    bottom: 54%;
    left: 83.5%;
}

#frog4 {
    width: 6vw;
    height: 6vw;
    position: absolute;
    bottom: 34%;
    left: 85%;
}