@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');

body {
    background-color: blue;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Shojumaru', cursive;
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 2rem;
}

img {
    max-width: 100%;
}

/* Header and scoring */
header {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    background-color: #6daa30;
    text-align: center;
    padding: 5px 0 20px 0;
    text-shadow: 3px 3px 5px black;
}
.scores {
    padding: 0 10px;
}
#score-container {
    display: flex;
    justify-content: space-around;
    line-height: 1em;
}

#welcome {
    display: none;
    background-color: #ffc600;
    align-items: center;
    text-align: center;
    border: 5px inset blue;
    width: 40%;
    position: absolute;
    bottom: 37%;
    left: 33%;
    padding: 1em 0;
}

.container {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

#menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px inset blue;
    background-color: aqua;
    color: slategray;
    width: 25%;
    position: absolute;
    z-index: 3;
    bottom: 38%;
    left: 36%;
    padding: 2em;
    box-shadow: 4px 4px 4px grey;
    border-radius: 15px;
    text-shadow: 3px 3px 5px black;
}

.btn {
    width: 60%;
    justify-content: center;
    margin: 5%;
    color: silver;
    background-color: blue;
    border: 1px solid lightseagreen;
    box-shadow: 3px 3px 2px grey;
    border-radius: 30px;

}

.btn:hover {
    background-color: greenyellow;
}

.frog {
    padding: 10px;
    transition: all 300ms;    
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.hlFrog {
    transform: scale(1.1);
    background-color:rgb(255, 255, 240, 0.5);
    box-shadow: 0 0 10px #ffc600;
}


#frog0 {
    width: 6vw;
    height: 6vw;
    bottom: 4%;
    left: 15.5%;
}

#frog1 {
    width: 7vw;
    height: 7vw;
    bottom: 23%;
    left: 37.5%;
}

#frog2 {
    width: 7vw;
    height: 7vw;
    bottom: 47%;
    left: 52%;
}

#frog3 {
    width: 6vw;
    height: 6vw;
    bottom: 52%;
    left: 82.5%;
}

#frog4 {
    width: 6vw;
    height: 6vw;
    bottom: 32.5%;
    left: 84%;
}

#listen {
    display: none;
    background-color: red;
    color: whitesmoke;
    position: absolute;
    bottom: 85%;
    left: 29%;
    width: 40%;
    text-align: center;
    box-shadow: 6px 6px 10px black;
    border-radius: 15px;
    text-shadow: 3px 3px 5px black;
}

#follow {
    display: none;
    background-color: greenyellow;
    color: whitesmoke;
    position: absolute;
    bottom: 85%;
    left: 29%;
    width: 40%;
    text-align: center;
    box-shadow: 6px 6px 10px black;
    border-radius: 15px;
    text-shadow: 3px 3px 5px black;
}

#game-over {
    display: none;
    background-color: green;
    color: whitesmoke;
    position: absolute;
    z-index: 2;
    bottom: 50%;
    left: 29%;
    width: 40%;
    text-align: center;
    box-shadow: 6px 6px 10px black;
    border-radius: 15px;
    text-shadow: 3px 3px 5px black;
}

#cover {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: rgb(233, 233, 127, .2);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}